.h1 {
    -fx-font-size: 30px;
}

.h2 {
    -fx-font-size: 20px;
}

.p {
    -fx-font-size: 17px;
}

.actionButton {
    -fx-background-image: url(../images/actionButtons/actionButton.png);
}

.actionButton:hover {
    -fx-background-image: url(../images/actionButtons/actionButtonHover.png);
    -fx-cursor: hand;
}