.nameSubmitButton {
    -fx-background-color: #005c47;
    -fx-text-fill: #dddddd;
    -fx-font-size: 15px;
}

.nameSubmitButton:hover {
    -fx-background-color: #008869;
    -fx-cursor: hand;
}

.nameSubmitTextField {
    -fx-background-radius: 5;
    -fx-background-color: #f1f1f1;
    -fx-text-fill:#005c47;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-font-weight: bold;
}