.background {
    -fx-background-image: url('../images/sceneBackgrounds/pokerTable.jpg')
}

.unactiveSeat {
    -fx-background-image: url('../images/unactiveSeat.png')
}

.activeSeat {
    -fx-background-image: url('../images/activeSeat.png')
}